<style type="text/css">
*{
		box-sizing: border-box;
		font-style: arial;
	}
	body{
		margin: 10px;
	}
    h1{
    	font-size: 175%;
    	text-align: center;
    }
    h2{
    	border-left: 1px solid black;
    	border-bottom: 1px solid black;
    	font-size: 125%;
    	float: right;
    	margin-top: 0;
    	margin-right: 0;
        width:35%;
        text-align: center;
        padding: 2px;
    	    }
    .CHICKEN>h2{
    	background-color: #e75480;
    }
    .BEEF>h2{
    	background-color: red;
    }
    .SUSHI>h2{
    	background-color: yellow;
    }
	div{
		font-family: all;
		background-color: gray;
		border: 1px solid black;
		margin: 5px;
	}
	p{
		clear: right;
		padding: 5px;
		text-align: center;
	}
    
    @media (min-width: 992px){

    	div{
    		float: left;
    		width:32%;
    	}
    }

    @media (min-width: 768px) AND (max-width: 991px){
    	.CHICKEN{
    		float: left;
    		width:48.5%;
    	}
    	.BEEF{
    		float:left;
    		width: 48.5%
    	}
    	.SUSHI{
    		clear:both;
    	}
    }
</style>