*{
font-family: 'Chelsea Market', cursive;
}
body{
	background-color: #DAE0FE;
}
h1
{
    color: #f8f9fa;
    text-transform: uppercase;
}
h1:hover{
	text-shadow: 3px 5px 5px #282D2E;
	text-decoration: none;
}
h2{
	text-shadow: 2px 3px 3px #03867F;
}
.container-fluid
{
    background-color:#03867F;
    width: 100%;
   height: 100px;
}
.navbar-toggle{
	background-color: #ddd  ;
	margin-top: 40px;
	margin-right: 0px;
}
.navbar-default .container-fluid .navbar-toggle:hover , .navbar-default .container-fluid .navbar-toggle:focus{
	background-color: #282D2E;
}
#nav-list{
	border:2px;
	border-color: #ddd;
	margin-top: 64px;
	margin-left: -15px;
	margin-right: -15px;
	height: 378px;
}
#nav-list a {
	background-color: #282D2E;
	text-align: center;
	font-size: 1.5em;
	color: #f8f9fa;
}
#nav-list a:hover{
   background-color:#28A39D;
   text-decoration: unset;
}

#main-content>div{
	background-color: gray;
	color: #f8f9fa;
	padding: 10px 20px 30px 20px;
	margin-bottom: 30px;
}
#main-content div p{
		font-family: 'Playfair Display', serif;
}
#main-content {
     background-color: transparent;
}
h3{
	text-align: center;
}
.space{
	width: 20px;
}

#Domino{
	margin-top: 45px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
#main-content div a:hover{ #03867F;
	text-shadow: 1px 2px 2px #03867F;
}
#main-content div a{
	float: right;
	color: #f8f9fa;
}
#Domino .logo{
	width: 50%;
}
#nav-list .change {
	padding-left: 30px;
}